.jumbotron {
    background-image: url(../Images/lap5.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

h2 {
    color: palevioletred;
    font-family: 'Pacifico';
}
h1{
    color:solid black 6px;
    text-align: center;
    font-family: fantasy;
}
.well{
    background-color: palevioletred;

}
#home-btn{
    font-size: 80px;
    margin-top: 0px;
    color: rebeccapurple;
}